body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
#app {
  width: 80%;
  margin: auto;
}
#app h1 {
  color: #ea553a;
}
.score .new-score {
  width: 100px;
  font-size: 1.3em;
  margin-right: 30px;
}
.score .score-submit {
  background-color: #ea553a;
  width: 100px;
  height: 30px;
  border: none;
  position: relative;
  top: -4px;
  cursor: pointer;
}
.score .score-list {
  margin-top: 30px;
  width: 100%;
}
.score .score-list .socre-item {
  float: left;
  margin: 0 10px 10px 0;
  font-size: 24px;
  background-color: #fff;
  color: #ea553a;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100px;
  height: 120px;
  border: 1px solid #ea553a;
  text-align: center;
  line-height: 120px;
}
.score .score-summary {
  zoom: 1;
}
.score .score-summary:before,
.score .score-summary:after {
  content: "";
  display: table;
}
.score .score-summary:after {
  clear: both;
}
.score .score-summary .average,
.score .score-summary .sum {
  margin-right: 10px;
  float: left;
}
.score .score-summary .sum {
  margin-bottom: 20px;
}
.score .score-summary .color-string {
  color: #ea553a;
}
