@import 'nib'

body
  margin: 0
  padding: 0
  background-color: #fafafa

#app
  h1
    color: #ea553a
  width: 80%
  margin: auto

.__button
  background-color: #ea553a
  width: 100px
  height: 30px
  border: none
  position: relative
  top: -4px
  cursor: pointer

.admin
  .rest_btn
    @extends .__button
    margin-bottom: 10px

.score
  .err
    color: red
  .new-score
    width: 100px
    font-size: 1.3em
    margin-right: 30px
  .score-submit
    background-color: #ea553a
    width: 100px
    height: 30px
    border: none
    position: relative
    top: -4px
    cursor: pointer
  .score-list
    margin-top: 30px
    width:100%
    .socre-item
      float: left
      margin:0 10px 10px 0
      font-size: 24px
      background-color: #fff
      color: #ea553a
      border-radius: 5px
      width: 100px
      height: 120px
      border: 1px solid #ea553a
      text-align: center
      line-height: 120px
  .score-summary
    clearfix()
    .average, .sum
      margin-right: 10px
      float: left
    .sum
      margin-bottom: 20px
    .color-string
      color: #ea553a
